<ion-view view-title="myEvents">
  <ion-content>

    <button class="button button-full button-positive" ng-click="openModal()">
      New Event
    </button>

    <div class="list card">
      
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="searchEvents" placeholder="Search events">
        </label>
        <a class="button button-icon icon ion-ios7-search-strong"></a>
      </div>
    </div>

    <div class="list card" ng-repeat="event in events | filter:searchEvents">
      <a href="#/tab/events/{{event.id}}" class="item item-divider item item-icon-right">
        <i class="icon icon ion-ios7-arrow-forward"></i>
        {{event.name}}
      </a>
      
      <div class="item item-body"> 
        <p>Date: {{event.date}}</p>
        <p>Lieu: {{event.location}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>